.form{
    margin-top: 20px;
    width: 100%;
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.input{
    border-radius: 10px;
    border: none;
    border-bottom: 2px solid red;
    width: 90%;
    background-color: #3CBC8D;
    color: white;
}
.biggerBlock{
    display: flex;
    width:100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.button {
    border: none;
    outline: none;
    background-color: cornflowerblue;
    height: 3vh;
    padding: 10px;
    display: flex;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
}
.button:hover {
    background-color:#002ead;
    transition: 0.7s;
}
.h3{
    color: red;
    display: flex;
    justify-content: center;
    text-decoration: none
}
.pagination{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}