.genres {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
}

.genreLink {
    margin: 2px;
    padding: 2px;
    color: darkblue;
    text-decoration: none;
    border: 1px darkblue solid;
    border-radius: 10px;
}

.genreLink:hover {
    background-color: cornflowerblue;
    border: none;
}

.genreLinkLink {
    color: darkblue;
    text-decoration: none;
}

.genreLinkLink:hover{
    color: white;
}