.genres {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
}
.genreLink {
    border: none;
    outline: none;
    background-color: cornflowerblue;
    color: red;
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
}
.genreLink:hover {
    background-color:#002ead;
    transition: 0.7s;
}


/*.genreLink:hover {*/
/*    background-color: cornflowerblue;*/
/*    border: none;*/
/*}*/

.genreLinkLink {
    color: darkblue;
    text-decoration: none;
}

.genreLinkLink:hover{
    color: white;
}