.button {
    border: none;
    outline: none;
    background-color: cornflowerblue;
    padding: 10px;
    border-radius: 10px;
}
.button:hover {
    background-color:#002ead;
    transition: 0.7s;
}

.buttonLink {
    border: none;
    outline: none;
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 40px;
    min-width: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 550;
}
.h3{
    color: red;
    display: flex;
    justify-content: center;
    text-decoration: none
}

.Link{
    text-decoration: none
}
.pagination{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

