.img {
    width: 200px;
}

.idGenre {
    width:100%;
    display: flex;
    flex-wrap: wrap;
    /*flex-direction: column;*/
    margin-top: 20px;
    gap: 10px;
}
.pagination{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
}
.divGenre {
    width: 250px;
    display: flex;
    justify-content: space-around;
    /*align-content: space-evenly;*/
    flex-wrap: wrap;
}

.genreParagraph {
    font-size: 18px;
}